*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
}

:root {
  --primary: #0576FA;
  --secondary: #6E787D;
  --info: #1EAAC8;
  --success: #23C040;
  --warning: #FABE0A;
  --danger: #F53040;
  --light: #F0F0F0;
  --white: #FFFFFF;
  --dark: #1E1E1E;
  --black: #000000;
}

/* ============================================= Container ============================================= */
.container,
.container-2,
.container-3,
.container-full {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

.container {
  width: 90%;
}

.container-2 {
  width: 80%;
}

.container-3 {
  width: 70%;
}

@media screen and (min-width: 480px) {
  .container-xs {
    width: 90%;
  }
  .container-xs-2 {
    width: 80%;
  }
  .container-xs-3 {
    width: 70%;
  }
  .container-xs-full {
    width: 100%;
  }
}

@media screen and (min-width: 640px) {
  .container-sm {
    width: 90%;
  }
  .container-sm-2 {
    width: 80%;
  }
  .container-sm-3 {
    width: 70%;
  }
  .container-sm-full {
    width: 100%;
  }
}

@media screen and (min-width: 768px) {
  .container-md {
    width: 90%;
  }
  .container-md-2 {
    width: 80%;
  }
  .container-md-3 {
    width: 70%;
  }
  .container-md-full {
    width: 100%;
  }
}

@media screen and (min-width: 1024px) {
  .container-lg {
    width: 90%;
  }
  .container-lg-2 {
    width: 80%;
  }
  .container-lg-3 {
    width: 70%;
  }
  .container-lg-full {
    width: 100%;
  }
}

@media screen and (min-width: 1366px) {
  .container-xl {
    width: 90%;
  }
  .container-xl-2 {
    width: 80%;
  }
  .container-xl-3 {
    width: 70%;
  }
  .container-xl-full {
    width: 100%;
  }
}

/* ========================== Button component ========================= */
.button {
  display: inline-block;
  padding: .375rem .75rem;
  margin: .25rem;
  text-align: center;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  cursor: pointer;
  line-height: 1.5;
  border: 1.5px solid transparent;
  -webkit-transition: all .1s ease-in-out;
  -o-transition: all .1s ease-in-out;
  transition: all .1s ease-in-out;
  font-size: 1rem;
  border-radius: .15rem;
  color: #000;
  background-color: #ddd;
}

.button:active {
  -webkit-transform: scale(0.96);
  -ms-transform: scale(0.96);
  transform: scale(0.96);
}

.button:focus {
  outline: 0;
}

.button:hover {
  background-color: #c4c4c4;
}

[class*="button-outline"] {
  border-color: #ddd;
  background-color: transparent;
  color: #ddd;
}

[class*="button-outline"]:hover {
  background-color: transparent;
  border-color: #aaaaaa;
  color: #aaaaaa;
}

/* ========================== Button Color ========================= */
.button-primary {
  background-color: #0576FA;
  color: #fff;
}

.button-primary:hover {
  background-color: #0463d2;
}

.button-secondary {
  background-color: #6E787D;
  color: #fff;
}

.button-secondary:hover {
  background-color: #5b6367;
}

.button-info {
  background-color: #1EAAC8;
  color: #fff;
}

.button-info:hover {
  background-color: #198ca5;
}

.button-success {
  background-color: #23C040;
  color: #fff;
}

.button-success:hover {
  background-color: #1d9d34;
}

.button-warning {
  background-color: #FABE0A;
  color: #fff;
}

.button-warning:hover {
  background-color: #d7a204;
}

.button-danger {
  background-color: #F53040;
  color: #fff;
}

.button-danger:hover {
  background-color: #f10c1e;
}

.button-danger:hover {
  background-color: #cf0a1a;
}

.button-light {
  background-color: #F0F0F0;
  color: #fff;
  color: #000;
}

.button-light:hover {
  background-color: gainsboro;
}

.button-light:hover {
  background-color: #cacaca;
}

.button-white {
  background-color: #FFFFFF;
  color: #fff;
  color: #000;
}

.button-white:hover {
  background-color: #ebebeb;
}

.button-white:hover {
  background-color: #d9d9d9;
}

.button-dark {
  background-color: #1E1E1E;
  color: #fff;
}

.button-dark:hover {
  background-color: #0a0a0a;
}

.button-dark:hover {
  background-color: #262626;
}

.button-black {
  background-color: #000000;
  color: #fff;
}

.button-black:hover {
  background-color: black;
}

.button-black:hover {
  background-color: #171717;
}

/* ========================== Button Outline-Color ========================= */
.button-outline-primary {
  background-color: transparent;
  border-color: #0576FA;
  color: #0576FA;
}

.button-outline-primary:hover {
  border-color: #045ec8;
  color: #045ec8;
}

.button-outline-secondary {
  background-color: transparent;
  border-color: #6E787D;
  color: #6E787D;
}

.button-outline-secondary:hover {
  border-color: #565e62;
  color: #565e62;
}

.button-outline-info {
  background-color: transparent;
  border-color: #1EAAC8;
  color: #1EAAC8;
}

.button-outline-info:hover {
  border-color: #17849c;
  color: #17849c;
}

.button-outline-success {
  background-color: transparent;
  border-color: #23C040;
  color: #23C040;
}

.button-outline-success:hover {
  border-color: #1b9532;
  color: #1b9532;
}

.button-outline-warning {
  background-color: transparent;
  border-color: #FABE0A;
  color: #FABE0A;
}

.button-outline-warning:hover {
  border-color: #cd9b04;
  color: #cd9b04;
}

.button-outline-danger {
  background-color: transparent;
  border-color: #F53040;
  color: #F53040;
}

.button-outline-danger:hover {
  border-color: #e70b1d;
  color: #e70b1d;
}

.button-outline-danger:hover {
  border-color: #b60917;
  color: #b60917;
}

.button-outline-light {
  background-color: transparent;
  border-color: #F0F0F0;
  color: #F0F0F0;
}

.button-outline-light:hover {
  border-color: #d7d7d7;
  color: #d7d7d7;
}

.button-outline-light:hover {
  border-color: #bdbdbd;
  color: #bdbdbd;
}

.button-outline-white {
  background-color: transparent;
  border-color: #FFFFFF;
  color: #FFFFFF;
}

.button-outline-white:hover {
  border-color: #e6e6e6;
  color: #e6e6e6;
}

.button-outline-white:hover {
  border-color: #cccccc;
  color: #cccccc;
}

.button-outline-dark {
  background-color: transparent;
  border-color: #1E1E1E;
  color: #1E1E1E;
}

.button-outline-dark:hover {
  border-color: #050505;
  color: #050505;
}

.button-outline-dark:hover {
  border-color: #2b2b2b;
  color: #2b2b2b;
}

.button-outline-black {
  background-color: transparent;
  border-color: #000000;
  color: #000000;
}

.button-outline-black:hover {
  border-color: black;
  color: black;
}

.button-outline-black:hover {
  border-color: #1a1a1a;
  color: #1a1a1a;
}

.button-lg {
  padding: .5rem 1rem;
  font-size: 1.25rem;
  border-radius: .3rem;
}

.button-sm {
  padding: .25rem .5rem;
  font-size: .875rem;
  border-radius: .2rem;
}

/* =========================== CUSTOM SCROLLBAR ========================== */
/* Main scrollbar class */
.scrollbar {
  overflow-y: scroll;
  overflow-x: hidden;
}

/* Default values of the scrollbar */
.scrollbar::-webkit-scrollbar {
  width: .5rem;
}

.scrollbar::-webkit-scrollbar-thumb {
  border-radius: 5px;
  background-color: #a6a6a6;
}

.scrollbar::-webkit-scrollbar-thumb:hover {
  background-color: #8c8c8c;
}

.scrollbar::-webkit-scrollbar-track {
  background: #cfd4da;
}

/* Default values of the scrollbar-3d */
.scrollbar.scrollbar-3d::-webkit-scrollbar-thumb {
  background-color: transparent;
  -webkit-box-shadow: -3px -3px 6px #8c8c8c inset, 3px 3px 3px #bfbfbf inset;
  box-shadow: -3px -3px 6px #8c8c8c inset, 3px 3px 3px #bfbfbf inset;
}

.scrollbar.scrollbar-3d::-webkit-scrollbar-thumb:hover {
  -webkit-box-shadow: -3px -3px 6px #595959 inset, 3px 3px 3px #a6a6a6 inset;
  box-shadow: -3px -3px 6px #595959 inset, 3px 3px 3px #a6a6a6 inset;
}

/* Different colors of the scrollbar */
.scrollbar-primary::-webkit-scrollbar-thumb {
  background-color: #0576FA;
}

.scrollbar-primary::-webkit-scrollbar-thumb:hover {
  background-color: #045ec8;
}

/* Different colors of the scrollbar-3d */
.scrollbar-primary.scrollbar-3d::-webkit-scrollbar-thumb {
  background-color: transparent;
  -webkit-box-shadow: -3px -3px 6px #0576FA inset, 3px 3px 3px #3791fb inset;
  box-shadow: -3px -3px 6px #0576FA inset, 3px 3px 3px #3791fb inset;
}

.scrollbar-primary.scrollbar-3d::-webkit-scrollbar-thumb:hover {
  -webkit-box-shadow: -3px -3px 6px #045ec8 inset, 3px 3px 3px #0576FA inset;
  box-shadow: -3px -3px 6px #045ec8 inset, 3px 3px 3px #0576FA inset;
}

.scrollbar-secondary::-webkit-scrollbar-thumb {
  background-color: #6E787D;
}

.scrollbar-secondary::-webkit-scrollbar-thumb:hover {
  background-color: #565e62;
}

/* Different colors of the scrollbar-3d */
.scrollbar-secondary.scrollbar-3d::-webkit-scrollbar-thumb {
  background-color: transparent;
  -webkit-box-shadow: -3px -3px 6px #6E787D inset, 3px 3px 3px #889196 inset;
  box-shadow: -3px -3px 6px #6E787D inset, 3px 3px 3px #889196 inset;
}

.scrollbar-secondary.scrollbar-3d::-webkit-scrollbar-thumb:hover {
  -webkit-box-shadow: -3px -3px 6px #565e62 inset, 3px 3px 3px #6E787D inset;
  box-shadow: -3px -3px 6px #565e62 inset, 3px 3px 3px #6E787D inset;
}

.scrollbar-info::-webkit-scrollbar-thumb {
  background-color: #1EAAC8;
}

.scrollbar-info::-webkit-scrollbar-thumb:hover {
  background-color: #17849c;
}

/* Different colors of the scrollbar-3d */
.scrollbar-info.scrollbar-3d::-webkit-scrollbar-thumb {
  background-color: transparent;
  -webkit-box-shadow: -3px -3px 6px #1EAAC8 inset, 3px 3px 3px #38c3e1 inset;
  box-shadow: -3px -3px 6px #1EAAC8 inset, 3px 3px 3px #38c3e1 inset;
}

.scrollbar-info.scrollbar-3d::-webkit-scrollbar-thumb:hover {
  -webkit-box-shadow: -3px -3px 6px #17849c inset, 3px 3px 3px #1EAAC8 inset;
  box-shadow: -3px -3px 6px #17849c inset, 3px 3px 3px #1EAAC8 inset;
}

.scrollbar-success::-webkit-scrollbar-thumb {
  background-color: #23C040;
}

.scrollbar-success::-webkit-scrollbar-thumb:hover {
  background-color: #1b9532;
}

/* Different colors of the scrollbar-3d */
.scrollbar-success.scrollbar-3d::-webkit-scrollbar-thumb {
  background-color: transparent;
  -webkit-box-shadow: -3px -3px 6px #23C040 inset, 3px 3px 3px #3bdb58 inset;
  box-shadow: -3px -3px 6px #23C040 inset, 3px 3px 3px #3bdb58 inset;
}

.scrollbar-success.scrollbar-3d::-webkit-scrollbar-thumb:hover {
  -webkit-box-shadow: -3px -3px 6px #1b9532 inset, 3px 3px 3px #23C040 inset;
  box-shadow: -3px -3px 6px #1b9532 inset, 3px 3px 3px #23C040 inset;
}

.scrollbar-warning::-webkit-scrollbar-thumb {
  background-color: #FABE0A;
}

.scrollbar-warning::-webkit-scrollbar-thumb:hover {
  background-color: #cd9b04;
}

/* Different colors of the scrollbar-3d */
.scrollbar-warning.scrollbar-3d::-webkit-scrollbar-thumb {
  background-color: transparent;
  -webkit-box-shadow: -3px -3px 6px #FABE0A inset, 3px 3px 3px #fbcb3c inset;
  box-shadow: -3px -3px 6px #FABE0A inset, 3px 3px 3px #fbcb3c inset;
}

.scrollbar-warning.scrollbar-3d::-webkit-scrollbar-thumb:hover {
  -webkit-box-shadow: -3px -3px 6px #cd9b04 inset, 3px 3px 3px #FABE0A inset;
  box-shadow: -3px -3px 6px #cd9b04 inset, 3px 3px 3px #FABE0A inset;
}

.scrollbar-danger::-webkit-scrollbar-thumb {
  background-color: #F53040;
}

.scrollbar-danger::-webkit-scrollbar-thumb:hover {
  background-color: #e70b1d;
}

/* Different colors of the scrollbar-3d */
.scrollbar-danger.scrollbar-3d::-webkit-scrollbar-thumb {
  background-color: transparent;
  -webkit-box-shadow: -3px -3px 6px #F53040 inset, 3px 3px 3px #f7616d inset;
  box-shadow: -3px -3px 6px #F53040 inset, 3px 3px 3px #f7616d inset;
}

.scrollbar-danger.scrollbar-3d::-webkit-scrollbar-thumb:hover {
  -webkit-box-shadow: -3px -3px 6px #e70b1d inset, 3px 3px 3px #F53040 inset;
  box-shadow: -3px -3px 6px #e70b1d inset, 3px 3px 3px #F53040 inset;
}

.scrollbar-light::-webkit-scrollbar-thumb {
  background-color: #F0F0F0;
  background: #d9d9d9;
}

.scrollbar-light::-webkit-scrollbar-thumb:hover {
  background-color: #d7d7d7;
}

.scrollbar-light::-webkit-scrollbar-thumb:hover {
  background-color: #cacaca;
}

/* Different colors of the scrollbar-3d */
.scrollbar-light.scrollbar-3d::-webkit-scrollbar-thumb {
  background-color: transparent;
  -webkit-box-shadow: -3px -3px 6px #F0F0F0 inset, 3px 3px 3px white inset;
  box-shadow: -3px -3px 6px #F0F0F0 inset, 3px 3px 3px white inset;
  -webkit-box-shadow: -3px -3px 6px #b0b0b0 inset, 3px 3px 3px #cacaca inset;
  box-shadow: -3px -3px 6px #b0b0b0 inset, 3px 3px 3px #cacaca inset;
}

.scrollbar-light.scrollbar-3d::-webkit-scrollbar-thumb:hover {
  -webkit-box-shadow: -3px -3px 6px #d7d7d7 inset, 3px 3px 3px #F0F0F0 inset;
  box-shadow: -3px -3px 6px #d7d7d7 inset, 3px 3px 3px #F0F0F0 inset;
}

.scrollbar-light.scrollbar-3d::-webkit-scrollbar-thumb:hover {
  -webkit-box-shadow: -3px -3px 6px #979797 inset, 3px 3px 3px #b0b0b0 inset;
  box-shadow: -3px -3px 6px #979797 inset, 3px 3px 3px #b0b0b0 inset;
}

.scrollbar-white::-webkit-scrollbar-thumb {
  background-color: #FFFFFF;
}

.scrollbar-white::-webkit-scrollbar-thumb:hover {
  background-color: #e6e6e6;
}

/* Different colors of the scrollbar-3d */
.scrollbar-white.scrollbar-3d::-webkit-scrollbar-thumb {
  background-color: transparent;
  -webkit-box-shadow: -3px -3px 6px #FFFFFF inset, 3px 3px 3px white inset;
  box-shadow: -3px -3px 6px #FFFFFF inset, 3px 3px 3px white inset;
}

.scrollbar-white.scrollbar-3d::-webkit-scrollbar-thumb:hover {
  -webkit-box-shadow: -3px -3px 6px #e6e6e6 inset, 3px 3px 3px #FFFFFF inset;
  box-shadow: -3px -3px 6px #e6e6e6 inset, 3px 3px 3px #FFFFFF inset;
}

.scrollbar-dark::-webkit-scrollbar-thumb {
  background-color: #1E1E1E;
}

.scrollbar-dark::-webkit-scrollbar-thumb:hover {
  background-color: #050505;
}

/* Different colors of the scrollbar-3d */
.scrollbar-dark.scrollbar-3d::-webkit-scrollbar-thumb {
  background-color: transparent;
  -webkit-box-shadow: -3px -3px 6px #1E1E1E inset, 3px 3px 3px #383838 inset;
  box-shadow: -3px -3px 6px #1E1E1E inset, 3px 3px 3px #383838 inset;
}

.scrollbar-dark.scrollbar-3d::-webkit-scrollbar-thumb:hover {
  -webkit-box-shadow: -3px -3px 6px #050505 inset, 3px 3px 3px #1E1E1E inset;
  box-shadow: -3px -3px 6px #050505 inset, 3px 3px 3px #1E1E1E inset;
}

.scrollbar-black::-webkit-scrollbar-thumb {
  background-color: #000000;
}

.scrollbar-black::-webkit-scrollbar-thumb:hover {
  background-color: black;
}

.scrollbar-black::-webkit-scrollbar-thumb:hover {
  background-color: #262626;
}

/* Different colors of the scrollbar-3d */
.scrollbar-black.scrollbar-3d::-webkit-scrollbar-thumb {
  background-color: transparent;
  -webkit-box-shadow: -3px -3px 6px #000000 inset, 3px 3px 3px #1a1a1a inset;
  box-shadow: -3px -3px 6px #000000 inset, 3px 3px 3px #1a1a1a inset;
}

.scrollbar-black.scrollbar-3d::-webkit-scrollbar-thumb:hover {
  -webkit-box-shadow: -3px -3px 6px black inset, 3px 3px 3px #000000 inset;
  box-shadow: -3px -3px 6px black inset, 3px 3px 3px #000000 inset;
}

/* Different background colors of the scrollbar */
.scrollbar-bg-primary::-webkit-scrollbar-track {
  background: #9bc8fd;
}

.scrollbar-bg-secondary::-webkit-scrollbar-track {
  background: #bec3c6;
}

.scrollbar-bg-info::-webkit-scrollbar-track {
  background: #91deee;
}

.scrollbar-bg-success::-webkit-scrollbar-track {
  background: #91eba2;
}

.scrollbar-bg-warning::-webkit-scrollbar-track {
  background: #fde6a0;
}

.scrollbar-bg-danger::-webkit-scrollbar-track {
  background: #fcc2c7;
}

.scrollbar-bg-light::-webkit-scrollbar-track {
  background: white;
  background: #e8e8e8;
}

.scrollbar-bg-white::-webkit-scrollbar-track {
  background: white;
}

.scrollbar-bg-dark::-webkit-scrollbar-track {
  background: #6b6b6b;
}

.scrollbar-bg-black::-webkit-scrollbar-track {
  background: #4d4d4d;
}

/* ========================== Progress Bar ========================= */
.progress-bar {
  --progress-bg: #f2f2f2;
  --progress-border-radius: 5px;
  width: 100%;
  margin: .5rem 0;
  padding: 3px;
  background-color: var(--progress-bg);
  border-radius: var(--progress-border-radius);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.progress-bar-percent {
  max-width: 100%;
  font-size: 1rem;
  padding: .2rem;
  color: var(--progress-bg);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  background-color: #969696;
}

.progress-bar-percent:first-child {
  border-top-left-radius: var(--progress-border-radius);
  border-bottom-left-radius: var(--progress-border-radius);
}

.progress-bar-percent:last-child {
  border-top-right-radius: var(--progress-border-radius);
  border-bottom-right-radius: var(--progress-border-radius);
}

/* ========================== Progress Bar Sizes ========================= */
.progress-bar-lg .progress-bar-percent {
  padding: .5rem;
  font-size: 1.4rem;
}

.progress-bar-sm .progress-bar-percent {
  padding: .01rem;
  font-size: 0.8rem;
}

.progress-bar.rounded {
  --progress-border-radius: 150px;
}

/* ========================== Progress Circle ========================= */
:root {
  --color: black;
  --color2: rgba(0, 0, 0, 0.2);
}

/* ====================== Progress Circle  Colors ===================== */
.progress-bg-primary {
  --color: #0576FA;
  --color2: rgba(5, 118, 250, 0.3);
}

.progress-bg-secondary {
  --color: #6E787D;
  --color2: rgba(110, 120, 125, 0.3);
}

.progress-bg-info {
  --color: #1EAAC8;
  --color2: rgba(30, 170, 200, 0.3);
}

.progress-bg-success {
  --color: #23C040;
  --color2: rgba(35, 192, 64, 0.3);
}

.progress-bg-warning {
  --color: #FABE0A;
  --color2: rgba(250, 190, 10, 0.3);
}

.progress-bg-danger {
  --color: #F53040;
  --color2: rgba(245, 48, 64, 0.3);
}

.progress-bg-light {
  --color: #F0F0F0;
  --color2: rgba(240, 240, 240, 0.3);
}

.progress-bg-white {
  --color: #FFFFFF;
  --color2: rgba(255, 255, 255, 0.3);
}

.progress-bg-dark {
  --color: #1E1E1E;
  --color2: rgba(30, 30, 30, 0.3);
}

.progress-bg-black {
  --color: #000000;
  --color2: rgba(0, 0, 0, 0.3);
}

/* ====================== Progress Circle Components ===================== */
.progress-circle,
.progress-circle-text,
.progress-circle-percent::after,
.progress-circle-percent::before {
  width: 12rem;
  height: 12rem;
}

.progress-circle {
  -webkit-clip-path: polygon(0% 0%, 0% 50%, 100% 50%, 100% 0%);
  clip-path: polygon(0% 0%, 0% 50%, 100% 50%, 100% 0%);
  overflow: hidden;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  font-family: sans-serif;
  margin: .5rem;
}

.progress-circle-text {
  border-radius: 100%;
  position: relative;
  background: -webkit-radial-gradient(transparent 58%, var(--color2) 59%);
  background: -o-radial-gradient(transparent 58%, var(--color2) 59%);
  background: radial-gradient(transparent 58%, var(--color2) 59%);
  text-align: center;
  line-height: 10.99999rem;
  font-size: 1.5rem;
  text-transform: uppercase;
  color: var(--color);
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.progress-circle-percent {
  -webkit-transform: rotateY(-180deg);
  transform: rotateY(-180deg);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}

.progress-circle-percent::after {
  content: '';
  position: absolute;
  background: -webkit-radial-gradient(transparent 58%, var(--color) 59%);
  background: -o-radial-gradient(transparent 58%, var(--color) 59%);
  background: radial-gradient(transparent 58%, var(--color) 59%);
  border-radius: 100%;
  -webkit-clip-path: polygon(100% 100%, 100% 50%, 0% 50%, 0% 100%);
  clip-path: polygon(100% 100%, 100% 50%, 0% 50%, 0% 100%);
}

.progress-circle-percent::before {
  position: absolute;
  font-size: 1.0rem;
  color: var(--color);
  line-height: 8.0rem;
  text-align: center;
  -webkit-transform: rotateY(180deg);
  transform: rotateY(180deg);
}

.progress-circle-percent-0::before {
  content: "0%";
}

.progress-circle-percent-0::after {
  -webkit-transform: rotate(-0deg);
  -ms-transform: rotate(-0deg);
  transform: rotate(-0deg);
}

.progress-circle-percent-5::before {
  content: "5%";
}

.progress-circle-percent-5::after {
  -webkit-transform: rotate(-9deg);
  -ms-transform: rotate(-9deg);
  transform: rotate(-9deg);
}

.progress-circle-percent-10::before {
  content: "10%";
}

.progress-circle-percent-10::after {
  -webkit-transform: rotate(-18deg);
  -ms-transform: rotate(-18deg);
  transform: rotate(-18deg);
}

.progress-circle-percent-15::before {
  content: "15%";
}

.progress-circle-percent-15::after {
  -webkit-transform: rotate(-27deg);
  -ms-transform: rotate(-27deg);
  transform: rotate(-27deg);
}

.progress-circle-percent-20::before {
  content: "20%";
}

.progress-circle-percent-20::after {
  -webkit-transform: rotate(-36deg);
  -ms-transform: rotate(-36deg);
  transform: rotate(-36deg);
}

.progress-circle-percent-25::before {
  content: "25%";
}

.progress-circle-percent-25::after {
  -webkit-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

.progress-circle-percent-30::before {
  content: "30%";
}

.progress-circle-percent-30::after {
  -webkit-transform: rotate(-54deg);
  -ms-transform: rotate(-54deg);
  transform: rotate(-54deg);
}

.progress-circle-percent-35::before {
  content: "35%";
}

.progress-circle-percent-35::after {
  -webkit-transform: rotate(-63deg);
  -ms-transform: rotate(-63deg);
  transform: rotate(-63deg);
}

.progress-circle-percent-40::before {
  content: "40%";
}

.progress-circle-percent-40::after {
  -webkit-transform: rotate(-72deg);
  -ms-transform: rotate(-72deg);
  transform: rotate(-72deg);
}

.progress-circle-percent-45::before {
  content: "45%";
}

.progress-circle-percent-45::after {
  -webkit-transform: rotate(-81deg);
  -ms-transform: rotate(-81deg);
  transform: rotate(-81deg);
}

.progress-circle-percent-50::before {
  content: "50%";
}

.progress-circle-percent-50::after {
  -webkit-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  transform: rotate(-90deg);
}

.progress-circle-percent-55::before {
  content: "55%";
}

.progress-circle-percent-55::after {
  -webkit-transform: rotate(-99deg);
  -ms-transform: rotate(-99deg);
  transform: rotate(-99deg);
}

.progress-circle-percent-60::before {
  content: "60%";
}

.progress-circle-percent-60::after {
  -webkit-transform: rotate(-108deg);
  -ms-transform: rotate(-108deg);
  transform: rotate(-108deg);
}

.progress-circle-percent-65::before {
  content: "65%";
}

.progress-circle-percent-65::after {
  -webkit-transform: rotate(-117deg);
  -ms-transform: rotate(-117deg);
  transform: rotate(-117deg);
}

.progress-circle-percent-70::before {
  content: "70%";
}

.progress-circle-percent-70::after {
  -webkit-transform: rotate(-126deg);
  -ms-transform: rotate(-126deg);
  transform: rotate(-126deg);
}

.progress-circle-percent-75::before {
  content: "75%";
}

.progress-circle-percent-75::after {
  -webkit-transform: rotate(-135deg);
  -ms-transform: rotate(-135deg);
  transform: rotate(-135deg);
}

.progress-circle-percent-80::before {
  content: "80%";
}

.progress-circle-percent-80::after {
  -webkit-transform: rotate(-144deg);
  -ms-transform: rotate(-144deg);
  transform: rotate(-144deg);
}

.progress-circle-percent-85::before {
  content: "85%";
}

.progress-circle-percent-85::after {
  -webkit-transform: rotate(-153deg);
  -ms-transform: rotate(-153deg);
  transform: rotate(-153deg);
}

.progress-circle-percent-90::before {
  content: "90%";
}

.progress-circle-percent-90::after {
  -webkit-transform: rotate(-162deg);
  -ms-transform: rotate(-162deg);
  transform: rotate(-162deg);
}

.progress-circle-percent-95::before {
  content: "95%";
}

.progress-circle-percent-95::after {
  -webkit-transform: rotate(-171deg);
  -ms-transform: rotate(-171deg);
  transform: rotate(-171deg);
}

.progress-circle-percent-100::before {
  content: "100%";
}

.progress-circle-percent-100::after {
  -webkit-transform: rotate(-180deg);
  -ms-transform: rotate(-180deg);
  transform: rotate(-180deg);
}

/* ====================== Poster ===================== */
.poster {
  position: relative;
}

.poster::before {
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  opacity: .4;
}

.poster * {
  position: relative;
}

.poster-primary::before {
  background-color: #0576FA;
}

.poster-secondary::before {
  background-color: #6E787D;
}

.poster-info::before {
  background-color: #1EAAC8;
}

.poster-success::before {
  background-color: #23C040;
}

.poster-warning::before {
  background-color: #FABE0A;
}

.poster-danger::before {
  background-color: #F53040;
}

.poster-light::before {
  background-color: #F0F0F0;
}

.poster-white::before {
  background-color: #FFFFFF;
}

.poster-dark::before {
  background-color: #1E1E1E;
}

.poster-black::before {
  background-color: #000000;
}

.card {
  width: 100%;
  height: auto;
  border: 1px solid #c8c8c8;
  border-radius: 10px;
  margin-bottom: 3rem;
}

.card-container {
  padding: 1.25rem;
}

.card-title {
  font-weight: bold;
  font-size: 2rem;
  margin-bottom: .2rem;
}

.card-subtitle {
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: .2rem;
}

.card-text {
  margin-top: 1rem;
}

.card-img-top {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  width: 100%;
  height: auto;
}

.card-footer, .card-header {
  padding: .75rem 1.25rem;
  background-color: rgba(0, 0, 0, 0.03);
}

.card-header {
  border-bottom: 1px solid rgba(0, 0, 0, 0.125);
}

.card-footer {
  border-top: 1px solid rgba(0, 0, 0, 0.125);
}

/* ====================== Modal Component ===================== */
.modal {
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  position: fixed;
  z-index: 1000;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  display: none;
  background-color: rgba(0, 0, 0, 0.6);
}

.modal-container {
  position: relative;
  background-color: #f2f2f2;
  padding: 1rem;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 3px;
  min-width: 30%;
  max-width: 90%;
  max-height: 90vh;
  height: auto;
  -webkit-transition: all .3s ease;
  -o-transition: all .3s ease;
  transition: all .3s ease;
  -webkit-animation: animation .2s linear forwards;
  animation: animation .2s linear forwards;
}

.modal-container.modal-xs {
  width: 30%;
  min-width: 250px;
}

@media screen and (min-width: 480px) {
  .modal-container.modal-xs {
    min-width: 400px;
  }
}

.modal-container.modal-sm {
  width: 50%;
  min-width: 270px;
}

@media screen and (min-width: 480px) {
  .modal-container.modal-sm {
    min-width: 440px;
  }
}

@media screen and (min-width: 640px) {
  .modal-container.modal-sm {
    min-width: 500px;
  }
}

.modal-container.modal-md {
  width: 70%;
  min-width: 280px;
}

@media screen and (min-width: 480px) {
  .modal-container.modal-md {
    min-width: 440px;
  }
}

@media screen and (min-width: 640px) {
  .modal-container.modal-md {
    min-width: 600px;
  }
}

.modal-container.modal-lg {
  width: 90%;
}

.modal.show {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.modal.animation .modal-container {
  animation: animation-reverse .2s linear forwards reverse;
}

.modal-cross {
  position: fixed;
  cursor: pointer;
  font-family: sans-serif;
  font-weight: bold;
  top: 5px;
  right: 10px;
  font-size: 1.6rem;
  color: #bfbfbf;
}

.modal-cross:hover {
  color: #8c8c8c;
}

.modal-cross-2 {
  right: 5px;
  padding-top: 2px;
  height: 30px;
  width: 30px;
  border-radius: 100%;
  font-size: 1.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-shadow: -1px 1px 3px #000;
  box-shadow: -1px 1px 3px #000;
  border: 2px solid;
  border-color: white;
  color: white;
  background-color: #000;
  -webkit-transition: .3s ease;
  -o-transition: .3s ease;
  transition: .3s ease;
  opacity: .8;
}

.modal-cross-2:hover {
  -webkit-box-shadow: -1px 1px 10px #000;
  box-shadow: -1px 1px 10px #000;
  opacity: 1;
}

.modal-start {
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
}

.modal-start .modal-container {
  margin-top: 2rem;
}

.modal-end {
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: flex-end;
}

.modal-end .modal-container {
  margin-bottom: 2rem;
  -webkit-animation: animation-end .2s linear forwards;
  animation: animation-end .2s linear forwards;
}

.modal-end.animation .modal-container {
  animation: animation-reverse-end .2s linear forwards reverse;
}

@-webkit-keyframes animation {
  from {
    opacity: 0;
    -webkit-transform: translateY(-100%);
    transform: translateY(-100%);
  }
  to {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes animation {
  from {
    opacity: 0;
    -webkit-transform: translateY(-100%);
    transform: translateY(-100%);
  }
  to {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1;
  }
}

@-webkit-keyframes animation-reverse {
  from {
    opacity: 0;
    -webkit-transform: translateY(-100%);
    transform: translateY(-100%);
  }
  to {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes animation-reverse {
  from {
    opacity: 0;
    -webkit-transform: translateY(-100%);
    transform: translateY(-100%);
  }
  to {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1;
  }
}

@-webkit-keyframes animation-end {
  from {
    opacity: 0;
    -webkit-transform: translateY(100%);
    transform: translateY(100%);
  }
  to {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes animation-end {
  from {
    opacity: 0;
    -webkit-transform: translateY(100%);
    transform: translateY(100%);
  }
  to {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1;
  }
}

@-webkit-keyframes animation-reverse-end {
  from {
    opacity: 0;
    -webkit-transform: translateY(100%);
    transform: translateY(100%);
  }
  to {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes animation-reverse-end {
  from {
    opacity: 0;
    -webkit-transform: translateY(100%);
    transform: translateY(100%);
  }
  to {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1;
  }
}

body.scroll-none {
  padding-right: 17px;
  overflow-y: hidden;
}

body.scrollbar.scroll-none {
  padding-right: .5rem;
}

/* ======================================================================================== //
//                                        NAV BARS                                          //
// ======================================================================================== */
.nav {
  background-color: #F0F0F0;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: auto;
  grid-template-areas: 'left center right';
  width: 100%;
  z-index: 1000;
  padding: 8px 16px;
  position: relative;
}

.nav-logo {
  font-size: 2rem;
  grid-area: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  padding-top: 3px;
  padding-bottom: 3px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  cursor: pointer;
}

.nav-list-container {
  position: fixed;
  z-index: 1000;
  top: 0;
  bottom: 0;
  width: 100%;
  background-color: #0576FA;
  -webkit-transition: -webkit-transform .3s ease-out;
  transition: -webkit-transform .3s ease-out;
  -o-transition: transform .3s ease-out;
  transition: transform .3s ease-out;
  transition: transform .3s ease-out, -webkit-transform .3s ease-out;
  -webkit-transform: translateX(-100%);
  -ms-transform: translateX(-100%);
  transform: translateX(-100%);
}

.nav-list {
  list-style: none;
  padding-left: .5rem;
  margin-top: 5rem;
}

.nav-item {
  padding-left: .5rem;
  padding-right: .5rem;
  text-align: center;
  margin-top: 2rem;
  font-size: 1rem;
  opacity: .6;
}

.nav-item:hover {
  opacity: .9;
}

.nav-item.active {
  opacity: 1;
}

.nav-link {
  text-decoration: none;
  display: block;
  padding: .5rem 1rem;
  color: #fff;
}

.nav-bars-content {
  grid-area: right;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: auto;
  grid-template-areas: 'bar-left bar-center bar-right';
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.nav-bars {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  grid-area: bar-center;
  position: relative;
  z-index: 10;
  height: 100%;
  cursor: pointer;
}

.nav-bars-span {
  width: 33px;
  height: 4px;
  border-radius: 3px;
  margin-bottom: 5px;
  background-color: #000;
}

.nav-bars-span:last-child {
  margin-bottom: 0;
}

.nav-close {
  position: absolute;
  top: 20px;
  right: 20px;
  text-decoration: none;
  color: #000;
  font-size: 1.5rem;
  cursor: pointer;
  opacity: .8;
  -webkit-transition: .2s ease;
  -o-transition: .2s ease;
  transition: .2s ease;
}

.nav-close:hover {
  opacity: 1;
}

.nav-search-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin-left: 0;
  grid-area: left;
}

.nav-search {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  height: 40px;
}

.nav-search-icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  cursor: pointer;
  font-size: 1.5rem;
}

.nav-search-icon .icon-search {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.nav-input {
  border: none;
  height: 100%;
  -webkit-transition: all .3s linear;
  -o-transition: all .3s linear;
  transition: all .3s linear;
  -webkit-transform: translateX(-100vw) scale(0.3);
  -ms-transform: translateX(-100vw) scale(0.3);
  transform: translateX(-100vw) scale(0.3);
  position: absolute;
  width: 100%;
  left: 0;
  right: 0;
  color: #1E1E1E;
  letter-spacing: .1rem;
  padding-right: 2rem;
}

.nav-grow {
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
}

.nav-grow .nav-item,
.nav-grow .nav-list {
  -webkit-box-flex: 1;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
}

.nav-grow .nav-link {
  text-align: center;
}

.icon-cross {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.nav-effect-left {
  -webkit-transform: translateX(-100%);
  -ms-transform: translateX(-100%);
  transform: translateX(-100%);
}

.nav-effect-right {
  -webkit-transform: translateX(100%);
  -ms-transform: translateX(100%);
  transform: translateX(100%);
}

.nav-effect-top {
  -webkit-transform: translateY(-100%);
  -ms-transform: translateY(-100%);
  transform: translateY(-100%);
}

.nav-effect-bottom {
  -webkit-transform: translateY(100%);
  -ms-transform: translateY(100%);
  transform: translateY(100%);
}

.position-left {
  grid-area: left;
}

.position-center {
  grid-area: center;
}

.position-right {
  grid-area: right;
}

@media screen and (min-width: 640px) {
  .nav-responsive-sm {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .nav-responsive-sm .nav-logo {
    text-align: left;
    padding-left: 20px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }
  .nav-responsive-sm .nav-list-container {
    position: relative;
    width: auto;
    background-color: transparent;
    z-index: 0;
    top: default;
    bottom: default;
    -webkit-transform: translateX(0%);
    -ms-transform: translateX(0%);
    transform: translateX(0%);
    color: #000;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }
  .nav-responsive-sm .nav-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-top: 0;
  }
  .nav-responsive-sm .nav-item {
    padding-left: .5rem;
    padding-right: 0;
    text-align: left;
    margin-top: 0;
    font-size: 1.2rem;
  }
  .nav-responsive-sm .nav-bars-content, .nav-responsive-sm .nav-close {
    display: none;
  }
  .nav-responsive-sm .nav-search-icon {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    font-size: 1rem;
    -webkit-box-ordinal-group: 2;
    -ms-flex-order: 1;
    order: 1;
    background-color: rgba(178, 178, 178, 0.3);
    padding: .375rem .75rem;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    border: 0 solid #ced4da;
    height: 100%;
    -webkit-transition: .2s ease-out;
    -o-transition: .2s ease-out;
    transition: .2s ease-out;
  }
  .nav-responsive-sm .nav-search-icon:hover {
    background-color: rgba(178, 178, 178, 0.7);
  }
  .nav-responsive-sm .nav-input {
    display: block;
    width: 100%;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    border-right: 0;
    -webkit-transition: .15s ease-in-out;
    -o-transition: .15s ease-in-out;
    transition: .15s ease-in-out;
    position: relative;
    -webkit-transform: none;
    -ms-transform: none;
    transform: none;
    -webkit-box-shadow: none;
    box-shadow: none;
  }
  .nav-responsive-sm .nav-input:focus {
    outline: 0;
  }
  .nav-responsive-sm .close-input {
    display: none;
  }
  .nav-responsive-sm .nav-search-container {
    margin-left: auto;
  }
  .nav-responsive-sm .nav-search-container.ml-0 {
    margin-left: 0;
  }
}

@media screen and (min-width: 768px) {
  .nav-responsive-md {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .nav-responsive-md .nav-logo {
    text-align: left;
    padding-left: 20px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }
  .nav-responsive-md .nav-list-container {
    position: relative;
    width: auto;
    background-color: transparent;
    z-index: 0;
    top: default;
    bottom: default;
    -webkit-transform: translateX(0%);
    -ms-transform: translateX(0%);
    transform: translateX(0%);
    color: #000;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }
  .nav-responsive-md .nav-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-top: 0;
  }
  .nav-responsive-md .nav-item {
    padding-left: .5rem;
    padding-right: 0;
    text-align: left;
    margin-top: 0;
    font-size: 1.2rem;
  }
  .nav-responsive-md .nav-bars-content, .nav-responsive-md .nav-close {
    display: none;
  }
  .nav-responsive-md .nav-search-icon {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    font-size: 1rem;
    -webkit-box-ordinal-group: 2;
    -ms-flex-order: 1;
    order: 1;
    background-color: rgba(178, 178, 178, 0.3);
    padding: .375rem .75rem;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    border: 0 solid #ced4da;
    height: 100%;
    -webkit-transition: .2s ease-out;
    -o-transition: .2s ease-out;
    transition: .2s ease-out;
  }
  .nav-responsive-md .nav-search-icon:hover {
    background-color: rgba(178, 178, 178, 0.7);
  }
  .nav-responsive-md .nav-input {
    display: block;
    width: 100%;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    border-right: 0;
    -webkit-transition: .15s ease-in-out;
    -o-transition: .15s ease-in-out;
    transition: .15s ease-in-out;
    position: relative;
    -webkit-transform: none;
    -ms-transform: none;
    transform: none;
    -webkit-box-shadow: none;
    box-shadow: none;
  }
  .nav-responsive-md .nav-input:focus {
    outline: 0;
  }
  .nav-responsive-md .close-input {
    display: none;
  }
  .nav-responsive-md .nav-search-container {
    margin-left: auto;
  }
  .nav-responsive-md .nav-search-container.ml-0 {
    margin-left: 0;
  }
}

@media screen and (min-width: 1024px) {
  .nav-responsive-lg {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .nav-responsive-lg .nav-logo {
    text-align: left;
    padding-left: 20px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }
  .nav-responsive-lg .nav-list-container {
    position: relative;
    width: auto;
    background-color: transparent;
    z-index: 0;
    top: default;
    bottom: default;
    -webkit-transform: translateX(0%);
    -ms-transform: translateX(0%);
    transform: translateX(0%);
    color: #000;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }
  .nav-responsive-lg .nav-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-top: 0;
  }
  .nav-responsive-lg .nav-item {
    padding-left: .5rem;
    padding-right: 0;
    text-align: left;
    margin-top: 0;
    font-size: 1.2rem;
  }
  .nav-responsive-lg .nav-bars-content, .nav-responsive-lg .nav-close {
    display: none;
  }
  .nav-responsive-lg .nav-search-icon {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    font-size: 1rem;
    -webkit-box-ordinal-group: 2;
    -ms-flex-order: 1;
    order: 1;
    background-color: rgba(178, 178, 178, 0.3);
    padding: .375rem .75rem;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    border: 0 solid #ced4da;
    height: 100%;
    -webkit-transition: .2s ease-out;
    -o-transition: .2s ease-out;
    transition: .2s ease-out;
  }
  .nav-responsive-lg .nav-search-icon:hover {
    background-color: rgba(178, 178, 178, 0.7);
  }
  .nav-responsive-lg .nav-input {
    display: block;
    width: 100%;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    border-right: 0;
    -webkit-transition: .15s ease-in-out;
    -o-transition: .15s ease-in-out;
    transition: .15s ease-in-out;
    position: relative;
    -webkit-transform: none;
    -ms-transform: none;
    transform: none;
    -webkit-box-shadow: none;
    box-shadow: none;
  }
  .nav-responsive-lg .nav-input:focus {
    outline: 0;
  }
  .nav-responsive-lg .close-input {
    display: none;
  }
  .nav-responsive-lg .nav-search-container {
    margin-left: auto;
  }
  .nav-responsive-lg .nav-search-container.ml-0 {
    margin-left: 0;
  }
}

.show-nav {
  -webkit-transform: translate(0);
  -ms-transform: translate(0);
  transform: translate(0);
}

.show-input {
  background-color: #fff;
  -webkit-box-shadow: 0 2px 10px #000;
  box-shadow: 0 2px 10px #000;
  padding-left: 10px;
  font-size: 1rem;
  -webkit-transform: translateX(0) scale(1);
  -ms-transform: translateX(0) scale(1);
  transform: translateX(0) scale(1);
  z-index: 100;
}

.show-input:focus {
  outline: 0;
}

.close-input {
  position: absolute;
  right: 10px;
  font-size: 1.2rem;
  color: #5c5c5c;
  cursor: pointer;
  z-index: 1000;
  -webkit-transform: translateX(-135vw);
  -ms-transform: translateX(-135vw);
  transform: translateX(-135vw);
  -webkit-transition: all .3s linear;
  -o-transition: all .3s linear;
  transition: all .3s linear;
}

.close-input:hover {
  color: #363636;
}

.translate-0 {
  -webkit-transform: translate(0);
  -ms-transform: translate(0);
  transform: translate(0);
}
