// ======================================================================================== //
//                                     Responsive elements                                  //
// ======================================================================================== //
$responsive: (
    xs: 480px,  // From 480px to 639px
    sm: 640px,  // From 640px to 767px
    md: 768px,  // From 768px to 1023px
    lg: 1024px, // From 1024px to 1365px
    xl: 1366px  // From 1366px to +1366px
);
