// ======================================================================================== //
//                                     Responsive elements                                  //
// ======================================================================================== //
$responsive: (
    xs: 480px,  // From 480px to 639px
    sm: 640px,  // From 640px to 767px
    md: 768px,  // From 768px to 1023px
    lg: 1024px, // From 1024px to 1365px
    xl: 1366px  // From 1366px to +1366px
);

// ======================================================================================== //
//                                     GRID PROPERTIES                                      //
// ======================================================================================== //

// Grid gap vars
$grid-gap: (
    0: 0,
    1: 1px,
    2: 3px,
    3: 5px,
    4: 10px,
    5: 15px,
    6: 20px,
    7: 25px,
    8: 30px,
    9: 40px,
    10: 50px
);

// grid properties justify and align 
$items: (
    start: start,
    end: end,
    center: center,
    stretch: stretch,
);
    
$content: (
    start: start,
    end: end,
    center: center,
    stretch: stretch,
    between: space-between,
    around: space-around,
    evenly: space-evenly 
);
    
// Order property
$order: (
    -6: -6,
    -5: -5,
    -4: -4,
    -3: -3,
    -2: -2,
    -1: -1,
    0: 0,
    1: 1,
    2: 2,
    3: 3,
    4: 4,
    5: 5,
    6: 6
);

// ======================================================================================== //
//                                     FLEXBOX PROPERTIES                                   //
// ======================================================================================== //

// Flexbox properties
$flex-direction: ( row: row, col: column, row-reverse: row-reverse, col-reverse: column-reverse );        
$flex: (wrap: wrap, wrap-reverse: wrap-reverse, no-wrap: nowrap); 
$justify-content: (start: flex-start, end: flex-end, center: center, between: space-between, around: space-around, evenly: space-evenly);    
$align-content: (start: flex-start, end: flex-end, center: center, between: space-between, around: space-around, stretch: stretch);       
$align-items: (start: flex-start, end: flex-end, center: center, baseline: baseline, stretch: stretch);   
$align-self: (start: flex-start, end: flex-end, center: center, baseline: baseline, stretch: stretch);   
$justify-self: (start: flex-start, end: flex-end, center: center, baseline: baseline, stretch: stretch);
$flex-grow: (1: 20%, 2: 40%, 3: 60%, 4: 80%, 5: 100%);       
$flex-shrink: (1: 20%, 2: 40%, 3: 60%, 4: 80%, 5: 100%);  

// ======================================================================================== //
//                                    MARGINS AND PADDINGS                                  //
// ======================================================================================== //

$margin-paddings: (
    1:     0.25rem,
    2:     0.50rem,
    3:     1.00rem,
    4:     1.50rem,
    5:     3.00rem,
    auto:  auto,
);

$sides: (
    top:    t,
    right:  r,
    bottom: b,
    left:   l,
    x:      x,
    y:      y
);


// ======================================================================================== //
//                                   DISPLAY PROPERTIES                                     //
// ======================================================================================== //

$display: (
    inline:        inline,
    inline-block:  inline-block,
    inline-flex:   inline-flex,
    inline-grid:   inline-grid,
    block:         block,
    flex:          flex,
    grid:          grid,
    none:          none
);
