// Margins
/* =========================================== MARGINS  =========================================== */

@each $mp-key, $mp-value in $margin-paddings {
    .m-#{$mp-key} {
        margin: $mp-value;
    }
    @each $side, $side-val in $mp-sides {
        .m#{$side-val}-#{$mp-key} {
            @if $side != x and $side != y{
                margin-#{$side}: $mp-value;
            } @else if $side == x {
                margin-right: $mp-value;
                margin-left: $mp-value;
            } @else if $side == y {
               margin-top: $mp-value;
               margin-bottom: $mp-value;
            }
        }
    }
}

// Paddings
/* =========================================== PADDINGS  =========================================== */

@each $mp-key, $mp-value in $margin-paddings {
    .p-#{$mp-key} {
        padding: $mp-value;
    }
    @each $side, $side-val in $mp-sides {
        .p#{$side-val}-#{$mp-key} {
            @if $side != x and $side != y{
                padding-#{$side}: $mp-value;
            } @else if $side == x {
                padding-right: $mp-value;
                padding-left: $mp-value;
            } @else if $side == y {
               padding-top: $mp-value;
               padding-bottom: $mp-value;
            }
        }
    }
}


// // Margins Responsive
// /* =========================================== MARGINS RESPONSIVE =========================================== */

// @each $key, $values in $responsive {
//     @media screen and (min-width: $values) {
//         @each $mp-key, $mp-value in $margin-paddings {
//             .m-#{$key}-#{$mp-key} {
//                 margin: $mp-value;
//             }
//             @each $side, $side-val in $mp-sides {
//                 .m#{$side-val}-#{$key}-#{$mp-key} {
//                     @if $side != x and $side != y{
//                         margin-#{$side}: $mp-value;
//                     } @else if $side == x {
//                         margin-right: $mp-value;
//                         margin-left: $mp-value;
//                     } @else if $side == y {
//                        margin-top: $mp-value;
//                        margin-bottom: $mp-value;
//                     }
//                 }
//             }
//         } 
//     }
// }

// // Paddings
// /* =========================================== PADDINGS RESPONSIVE =========================================== */

// @each $key, $values in $responsive {
//     @media screen and (min-width: $values) {
//         @each $mp-key, $mp-value in $margin-paddings {
//             .p-#{$key}-#{$mp-key} {
//                 padding: $mp-value;
//             }
//             @each $side, $side-val in $mp-sides {
//                 .p#{$side-val}-#{$key}-#{$mp-key} {
//                     @if $side != x and $side != y{
//                         padding-#{$side}: $mp-value;
//                     } @else if $side == x {
//                         padding-right: $mp-value;
//                         padding-left: $mp-value;
//                     } @else if $side == y {
//                        padding-top: $mp-value;
//                        padding-bottom: $mp-value;
//                     }
//                 }
//             }
//         }     
//     }
// }