/* ============================== Tipography ============================= */
/* =============================== Headers =============================== */

@each $class-name, $value in $headers {
    .#{$class-name} {
        font-size: $value;
    }
}

/* ============================= Font Weight ============================= */
@each $class-name, $value in $weight {
    .f-weight-#{$class-name} {
        font-weight: $value;
    }
}

/* ============================= Text Align ============================= */
@each $class-name, $value in $align {
    .t-align-#{$class-name} {
        text-align: $value;
    }
}

/* ============================= Text Decoration ============================= */
@each $class-name, $value in $decoration {
    .t-decoration-#{$class-name} {
        text-decoration: $value;
    }
}