/* ============================= Border ============================= */

/* ========================== Border Radius ========================= */
@each $class-name, $value in $border-radius {
    .b-radius-#{$class-name} {
        border-radius: $value;
    }
}

/* ========================== Border Color ========================= */
@each $color, $value in $colors {
    @each $side, $property in $border-sides {
        .b#{$side}-#{$color} {
            border#{$property}-color: $value;
        }
    }
}



.cuadro {
    width: 90%;
    height: 200px;
    font-size: 20px;
    font-family: sans-serif;
}

