.card {
    width: 100%;
    height: auto;
    border: 1px solid #c8c8c8;
    border-radius: 10px;
    margin-bottom: 3rem;

    &-container {
        padding: 1.25rem;
    }

    &-title {
        font-weight: bold;
        font-size: 2rem;
        margin-bottom: .2rem;
    }

    &-subtitle {
        font-size: 1.5rem;      
        font-weight: bold; 
        margin-bottom: .2rem;                 
    }

    &-text {
        margin-top: 1rem;
    }

    &-img-top {
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;   
        width: 100%;
        height: auto;     
    }

    &-footer,
    &-header {
        padding: .75rem 1.25rem;
        background-color: rgba(0,0,0,.03);
    }

    &-header {
        border-bottom: 1px solid rgba(0,0,0,.125);        
    }

    &-footer {
        border-top: 1px solid rgba(0,0,0,.125);
    }
}