// Row
.row {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-auto-rows: fit-content;   
    max-width: 100%;
    overflow: hidden;
}

// ======================================================================================== //
//                                       Col system                                         //
// ======================================================================================== //
.col-1, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-10, .col-11, .col-12, .col,
.col-xs-1, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9, .col-xs-10, .col-xs-11, .col-xs-12, .col-xs,
.col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm,
.col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12, .col-md,
.col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg,
.col-xl-1, .col-xl-2, .col-xl-3, .col-xl-4, .col-xl-5, .col-xl-6, .col-xl-7, .col-xl-8, .col-xl-9, .col-xl-10, .col-xl-11, .col-xl-12, .col-xl {
    min-height: 1px;
    padding-left: 15px;
    padding-right: 15px;
}
 /* ================================= Col System ============================================ */     
@for $i from 1 through 12 {
    .col-#{$i} { grid-column-end: span #{$i}; }
}

/* ================================= Grid column start ===================================== */
@for $i from 1 through 12 {
    .start-#{$i} { grid-column-start: $i; }
}

// Responsive col system
@each $key, $value in $responsive {
    @media screen and (min-width: $value) {
        /* ================================= Col System ============================================ */            
        @for $i from 1 through 12 {
            .col-#{$key}-#{$i} { grid-column-end: span $i; }   
        }
        /* ================================= Grid column start ===================================== */        
        @for $i from 1 through 12 {
            .start-#{$key}-#{$i} { grid-column-start: $i; }   
        }
    }
}
