// Container
  /* ============================================= Container ============================================= */

.container,
.container-2,
.container-3,
.container-full {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto; }


  .container { width: 90% }
  .container-2 { width: 80% }
  .container-3 { width: 70% }

$containers-names: '', -2, -3, -full;
$containers-values: 90%, 80%, 70%, 100%;

@each $responsive-name, $responsive-value in $responsive {
    @media screen and (min-width: $responsive-value) {       
        @for $i from 1 through length($containers-names) {
            $container-name: nth($containers-names, $i);
            $container-value: nth($containers-values, $i);            
            .container-#{$responsive-name}#{$container-name} {
                width: $container-value;
            }
        }
    }
}
