/* ====================== Poster ===================== */

.poster {
    position: relative;

    &::before {
        content: '';
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        opacity: .4;
    }

    * { position: relative; }
}

@each $color, $value in $colors {
    .poster-#{$color} {
        &::before {
            background-color: $value;
        }
    }
}

@for $i from 0 through 10 {
    $value: $i / 10;
    .poster-#{$i} {
        &::before { opacity: $value; }
    }
}
